<% @posts.each do |post| %>
 <!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
   .container {
     width: 600px;
     margin: 10px auto;
     border: 2px solid black;
     box-sizing: border-box;
     min-height: 320px;
   }
   img {
     margin: 0px;
     padding: 0px;
     width: 300px;
   }

   caption{
   	margin: 20px;
   }

   .uraver{
    position: relative;
    width: 300px;
    height: 201px;
   }

   p{
    margin: 0;
    margin-bottom: 10px;
   }

   span{
    margin: 0;
   }
</style>
</head>
<body>
  <div class="container">
  <div class="uraver">
<%= link_to post.user.username, user_path(post) %>
<%= image_tag(post.image.url, alt: 'Image') if post.image? %>
<span><%= post.caption %></span><br/>

<%= post.comment_posts.count %> Comment |&nbsp;
<%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%><br/>

<% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
<% if pre_like %>
  <%= link_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
<% else %>
  <%= link_to 'Like', post_likes_path(post), method: :post %>
<% end %> |
<%= link_to "Comment", post_path(post) %> |&nbsp;
<a href="#">Share</a>
<hr>
</div>
</div>
</body>
</html>

<%end%>